@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.03rem;
}

.dark .ql-toolbar * {
  color: #fff;
  stroke: #fff;
}

.dark .ql-editor.ql-blank::before {
  color: #ccc;
}

.quill-custom .ql-container {
  height: 250px;
}

.quill-error {
  border: 1px solid rgb(240 82 82 / 1);
}

.dark .quill-error {
  border: 1px solid rgb(240 82 82 / 1);
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: #069;
}

.post-content pre {
  background-color: #1e293b;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
  white-space: pre-wrap;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

.post-content code {
  background-color: #ececec;
  padding: .25rem;
  border-radius: .25rem;
  font-size: .9rem;
}


.box {
  width: 100px;
  height: 100px;
  background-color: #f3f3f3;
}


/* Add this in your global CSS file */
.customscroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  transition: 0.4s;
}

.customscroll::-webkit-scrollbar-thumb {
  background-color: #fff0;
}

.customscroll:hover::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* Example: Tailwind's Gray 600 */
  border-radius: 4px;
}

.customscroll::-webkit-scrollbar-track {
  background-color: #fff0;
  /* Example: Tailwind's Gray 200 */
}

.messagesent {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.messagereceived {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.messagecard {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 7px;
}

.messagereceived .messagecard {
  flex-direction: row-reverse;
}

.messagesent .chatbubble {
  border-radius: 10px 10px 10px 0px;
}

.messagereceived .chatbubble {
  border-radius: 10px 10px 0px 10px;
}

.messagereceived .time {
  text-align: right;
}

.messagesent .chatbubble {
  background: #6875F5;
}

.messagereceived .chatbubble {
  background: #9061F9;
}