@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.03rem;
}

.dark .ql-toolbar * {
  color: #fff;
  stroke: #fff;
}

.dark .ql-editor.ql-blank::before {
  color: #ccc;
}

.quill-custom .ql-container {
  height: 250px;
}

.quill-error {
  border: 1px solid rgb(240 82 82 / 1);
}

.dark .quill-error {
  border: 1px solid rgb(240 82 82 / 1);
}